/* nav */

header {
    background-color: lightblue;
    height: 3rem;
}

nav {
    color: white;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

nav img {
    height: 1.5rem;
}

nav li {
    list-style: none;
    margin: 5px;
    font-size: 0.7rem;
}

.btn-white {
    background-color: white;
    padding: 5px;
    font-size: 0.7rem;
    border-radius: 20px;
    margin: 0px 10px;
}